* {
    font-family: 'Poppins', sans-serif;
}

*::selection {
    color: var(--bg-white);
    background-color: var(--color-fiap);
}

.servicos-title {
    font-size: 32px;
    font-weight: 600;
}


:root{
    --color-fiap: #ff005e;
    --bg-white: #ffffff;
    --transition: 0.5s;
    --margin-top: 100px;
    --opacity-hover: 60%;
}

.menu {
    background-color:var(--color-fiap);
    border-radius: 4px;
}


.icon {
    font-size: 60px;
    color: var(--color-fiap);
    margin: 24px 0;
    transition: var(--transition)
}

.btn {
    background-color:var(--color-fiap);
    border-radius: 5px;
    border-color: var(--color-fiap);
}

.btn:hover {
    background-color: var(--bg-white);
    color: var(--color-fiap);
    border-color: var(--color-fiap);
}

.card:hover {
    background-color: var(--bg-blue-2);
}

.card:hover .icon {
    transform: scale(1.3);
}

.page {
    filter: opacity(100%);   
}

.page:hover {
    filter: opacity(60%);
}

.home {
    font-weight: bold;
}

.logo {
    width: 40% auto;
    height: 50px;
}

.logo-login {
    width: 40% auto;
    height: 150px;
}

.login-title {
    width: 40% auto;
    font-size: 26px;
}


.vantagem {
    font-size: 13px;
    text-align: start;
}

.equipe-img {
    max-height: 300px;
    max-width: 600px;
}

img {
height: 50%;
}

.icon-social {
    font-size: 2rem;
    color: var(--color-fiap);
    opacity: 100%;
}

.icon-social:hover {
    opacity: 80%;
    scale: 1.2;
    transition: var(--transition);
}

.guy-studying {
    font-size: 350px;
}

.submit-btn {
    background-color: var(--color-fiap);
    color: var(--bg-white);
}

.submit-btn:hover {
    background-color: var(--bg-white);
    color:var(--color-fiap);
}

.forgot-password {
    color: var(--color-fiap)   
}

.forgot-password:hover{
    opacity: var(--opacity-hover);
}
